
/* QUIZ STYLES */

#answer-container { display:none; }

#choice-container {
  text-align: center;
  margin: 0 auto;
}

.choice {
	background-color: lightblue;
	width: 98%;
	padding: 12px;
	margin: 12px 0;
	color: darkblue;
	font-size: 16px;
  text-shadow: none;
	border-radius: 12px;
  box-sizing: border-box;
  cursor: pointer;
}

#next {
  margin-top:12px;
}
