
/* QUIZ STYLES */

#answer-container { display:none; }

.choice {
	background-color: lightblue;
	width: 100%;
	padding: 12px;
	margin: 6px;
	color: darkblue;
	font-size: 16px;
	border-radius: 12px;
}
